div.wrap{a:b;
    h1.h5T{a:b;

    }
    h2.h6T{a:b;

    }
    ul.fnb.h6T{a:b;
        li{a:b;
            a{a:b;

            }
        }
    }
    ul.sns{a:b;
        li{a:b;
            a{a:b;

            }
        }
    }
    address.h6T{a:b;
        span{a:b;

        }
    }
    ul.email.h6T{a:b;
        li{a:b;
            a{a:b;

            }
        }
    }
    p.money.h6T{a:b;

    }
    ul.award{a:b;
        li{a:b;
            a{a:b;

            }
        }
    }
    p.copyright.h6T{a:b;

    }
}